<div class="admin-main">
<div class="card">
  <h4 class="card-header">Add a category</h4>
  <div class="card-body">
    <h5 class="card-title">You can add or edit caregories here</h5>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button type="button" class="btn btn-success" (click)="onSubmit()">Create</button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-danger">Cancel</button>

      </div>


      </div>
  </div>
</div>
<form [formGroup] ="form">
<div class="row">
  <div class="col">
    <label for="name" class="form-label">Category Name</label>
    <input formControlName="name" type="text" class="form-control">
    <small *ngIf="categoryform.name.invalid && isSubmitted"class="form-control is-invalid">
      PLease enter your caregory name
      <div class="invalid-feedback"></div>
    </small>
  </div>
  <div class="col">
    <label for="icon" class="form-label">Icon</label>
    <input formControlName="icon"  type="text" class="form-control">
  </div>
</div>
</form>
</div>
