<div class="admin-main">
<div   class="card">
  <h4 *ngIf="editmode">Edit Category</h4>
  <h4 *ngIf="!editmode">Add Category</h4>
  <div *ngIf="created" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong><i class="bi bi-check-circle-fill"></i>Successfully created</strong>
  </div>
  <div *ngIf="updated" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong><i class="bi bi-check-circle-fill"></i>Successfully updated</strong>
  </div>
  <div class="card-body">
    <h5 *ngIf="editmode" class="card-title text-muted">You can edit caregories here</h5>
    <h5 *ngIf="!editmode" class="card-title text-muted">You can add caregories here</h5>
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button *ngIf="editmode" type="button" class="btn btn-success" (click)="onSubmit()">Update</button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="First group">
        <button *ngIf="!editmode" type="button" class="btn btn-success" (click)="onSubmit()">Create</button>
      </div>
      <div class="btn-group me-2" role="group" aria-label="Second group">
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>

      </div>


      </div>
  </div>
</div>
<form [formGroup] ="form">
<div class="row">
  <div class="col">
    <label for="name" class="form-label">Category Name</label>
    <input formControlName="name" type="text" class="form-control" title="Name for your category" placeholder="....">
    <small *ngIf="categoryform.name.invalid && isSubmitted"class="form-control is-invalid">
      PLease enter your caregory name
      <div class="invalid-feedback"></div>
    </small>
  </div>
  <div class="col">
    <label for="icon" class="form-label">Icon</label>
    <input formControlName="icon"  type="text" class="form-control" title="Icon for your category" placeholder="....">
  </div>
</div>
</form>
</div>