<div class="admin-main">
  <div class="container">
      <div class="card">
        <h4 class="card-header">Add a product</h4>
        <div class="card-body">
          <h5 class="card-title">You can add or edit products here</h5>
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-primary" routerLink="form">New</button>
            </div>
            </div>
        </div>
      </div>
      <div class="container">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Price</th>
              <th scope="col">Image</th>
              <th scope="col">Stock</th>
              <th scope="col">Category</th>
              <th scope="col">Created at</th>
              <th scope="col"></th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let pr of products" >
              <td>{{pr.name}}</td>
              <td>{{pr.price}}</td>
              <td><img [src]="pr.image" style="width:fit-content" alt="" /></td>
              <td>{{pr.countInStock}}</td>
              <td>{{pr.category}}</td>
               <td>{{pr.dateCreated | date:'short'}}</td>

               <td>
                <button (click)="deleteProduct(pr.id)" type="button" class="btn btn-danger">Delete</button>
                <button (click)="updateProduct(pr.id)" type="button" class="btn btn-primary">Edit</button></td>
              </tr>

          </tbody>

        </table>

      </div>

      </div>
      </div>
