<body *ngIf="product">
    <div class="container1" >
      <div class="flex-container-main">
        <div class="flex-container">
          <div class="serial" >
            <ul>
              <img [src]="product.image" alt={{product.name}} (click)="onSelect(product.image)" />
              <li *ngFor="let image of product.images">
                
                <img [src]="image" alt={{product.name}} (click)="onSelect(image)" />
              </li>
            </ul>
          </div>
          <div class="main">
            <img [src]="selectedImg || product.image " class="main_img" alt={{product.name}}  /></div>
        </div>
        <div class="cart-button">
          <div class="ctb">
            <div class="button"><input type="button"  value="Add to Cart"  (click)="addToCart()"/></div>
            <div class="button"><input type="button"  value="Buy Now" /></div>
          </div>
        </div>
      </div>
      <div class="col-r sidebar">
        <h2 style="margin: 0px">{{product.name}}</h2>
  
        <p><b>P R O D R U C T F E A T U R E S:</b></p>
  
        <h6>SPECIFICATION :-</h6>
  

        <p>{{product.description}}</p>


        <p style="display: inline-block;
        font-size: x-large;
        font-style: italic;
        font-weight: 400;">{{product.price | currency:'INR' }}</p>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. A voluptates
          sed reiciendis fugiat, non officia dolores nesciunt rem. Nobis qui
          reiciendis voluptatum ducimus nostrum maiores animi repellat quas
          possimus et! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Repudiandae in officia excepturi, mollitia assumenda corrupti adipisci.
          Nisi repellendus amet consequuntur molestiae repellat dolor perferendis,
          ab eum perspiciatis quae minima debitis? Lorem, ipsum dolor sit amet
          consectetur adipisicing elit. Similique aliquam maiores asperiores,
          repudiandae odio doloremque laborum quae atque, modi aut quia a
          consequatur ullam tempore culpa dolorum, autem harum delectus!
        </p>
      </div>
    </div>
    <div
     [innerHtml]="product.richDescription"></div>
     
  </body>
  