<section id="header">
  <div class="blank"></div>
  <div class="logo">
    <a routerLink=""><img src="/assets/images/logo2.png" alt="" /></a>
  </div>
  <div class="nav">
    <ul class="cates">
      <div class="dropdown">
        <li>Desktops</li>
        <div class="dropdown-content">
          <a>Gaming Desktops</a>
          <a href="#">Workstation Desktops</a>
          <a href="#">Office Use Desktops</a>
        </div>
      </div>
      <div class="dropdown">
        <li>
          Laptops
          <div class="dropdown-content">
            <a href="#">Gaming Laptops</a>
            <a href="#">Office Use Laptops</a>
          </div>
        </li>
      </div>

      <li class="adjust-width"><a routerLink="/accessories">Accessories</a></li>
    </ul>
  </div>
  <div class="blank"></div>
  <div class="nav">
    <ul class="icons">
      <li class="adjust-width">
        <div class="flex">
          <input
          id="inPut"
            type="text"
            class="form-control"
            placeholder="Find Products"
            aria-label="Find Products"
            aria-describedby="button-addon2"   
          />
          <button
            class="btn bi-search btn2"
            type="button"
            id="button-addon2"
            
            (click)="cons()"
          ></button>
        </div>
      </li>
      <li class="adjust-width">
        <a href="#"><i class="bi bi-person-fill"> Sign in</i></a>
      </li>
      <li class="adjust-width">
        <a href="#"><i class="bi bi-cart-plus"> Cart</i></a>
      </li>
    </ul>
  </div>
</section>
