
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(76 105 193);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  position: sticky;
  top: 0;
  left: 0;
  font-family: sans-serif;
  font-size: 1.3em;
  color: white;  
  border-bottom: 1px solid rgb(209, 204, 204);
  height: 76px;
}
#header li {
  list-style: none;
}
#hover a{
  color: white;
}
.sizing{
  font-family: sans-serif;
  font-size: 1.3em;
  color: white;

}
.blank {
  min-width: 183px;
}
.logo img {
  height: 65px;
}
.nav {
  padding-top: 2px;
  padding-left: 7px;
}
.cates {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.cates li {
  padding: 0px 40px;
}
.cates li a {
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.icons li {
  padding: 0px 24px;
}
.icons li i {
  color: white;
}
.icons li i:hover{
    color: blue;
}
.adjust-width {
  min-width: fit-content;
}
/*.adjust-width:hover{
  border: green solid 5px;
  border-radius: 12px;
  transition: 0.3s;
}
/* FOR DROPDOWN */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: max-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(23, 241, 114);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: #200f0f;
  border: green solid 5px;
  transition: 0.3s;
}
.dropdown:hover{
  border: green solid 5px;
  border-radius: 12px;
  transition: 0.3s;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  background-color: #f1f1f1;

}

.flex{
  display: flex;
}

.btn2{
  box-shadow: none;
}
#hover:hover{
  border: green solid 5px;
  border-radius: 12px;
  transition: 0.3s;
}
.adjust-width a{
  text-decoration: none;

}