#allstyle{
  font-family: sans-serif;
}
#card2{
  color: #09011c;
    font-size: larger;
}
.sec2 h5{
  font-size: 2.5rem;
  color: #26024e; padding: 2px;
}
.sec2 p{
  color: #02364e;
    padding: 2px;
    font-size: 1.2em;
}
.sec3{
  background: black;
}
.testimonial{
  margin: 32px 0px 15px 50px;
}
.testimonial1{
  margin: 32px 0px 15px 50px;
  font-size: large;
}





.let_us_know {
  display: flex;
  color: black;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("/assets/images/contactusphoto.webp")
    no-repeat center ;
    height: 311px;
  background-size: cover;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: rgba(65, 61, 61, 0.753);
}
.py-2{
  margin-top: 107px;
  font-size: large;
}
.py-2 p{
  font-size: larger;
}
