<!-- offer banner -->
<div id="allstyle">
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h3
          class="d-block w-100 d-flex justify-content-center bg-danger py-2 my-0"
        >
          Apply promocode to get 20% discount
        </h3>
      </div>
      <div class="carousel-item">
        <h3
          class="d-block w-100 d-flex justify-content-center bg-danger py-2 my-0"
        >
          Sale starts tonight!!!
        </h3>
      </div>
      <div class="carousel-item">
        <h3
          class="d-block w-100 d-flex justify-content-center bg-danger py-2 my-0"
        >
          Buy one laptop and get Accessories free
        </h3>
      </div>
    </div>
  </div>
  <!-- photoslide banner -->
  <div
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img
          src="/assets/images/photoslide1.jpg"
          class="d-block w-100 py-0"
          style="height: 500px"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Exclusive stocks!!!</h5>
          <p>Don't miss...just add to cart and buy</p>
          <button class="btn btn-primary">BUY NOW</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="/assets/images/p2.jfif"
          class="d-block w-100"
          style="height: 500px"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Exclusive stocks!!!</h5>
          <p>Don't miss...just add to cart and buy</p>
          <button class="btn btn-primary">BUY NOW</button>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          src="/assets/images/photoslide3.webp"
          class="d-block w-100"
          style="height: 500px"
          alt="..."
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Exclusive stocks!!!</h5>
          <p>Don't miss...just add to cart and buy</p>
          <button class="btn btn-primary">BUY NOW</button>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- cutom pc -->
  <div
    class="card mb-0"
    style="max-width: 100%; box-shadow: 0px 8px 16px 4px rgba(0, 0, 0, 0.2)"
  >
    <div class="row sec2">
      <div class="col-md-8 bg-transparent">
        <div class="card-body my-0">
          <h5>Ready,Set,Build!</h5>
          <p>
            Choose from our range of high performance PC's for your gaming,
            content creation or research needs. Nothing quite fits? Build your
            very own custom machine with our Custom PC Configurator or choose a
            liquid cooling monster. Here at theMVP.in believe that model numbers
            should never hold you back Customize everything - Build your dream
            PC with us today!
          </p>
          <button type="button" class="btn btn-danger my-0 p-2">
            Customize
          </button>
        </div>
      </div>
      <div class="col-4">
        <img src="/assets/images/p4.jfif" class="img-fluid h-100" alt="..." />
      </div>
    </div>
  </div>

  <!-- For Laptops -->
  <div class="sec3 row">
    <div
      id="card2 "
      class="card col-6"
      style="box-shadow: 3pxpx 8px 16px 4pxpx rgba(0, 0, 0, 0.2)"
    >
      <img src="/assets/images/p5.jpg" class="card-img h-100" alt="..." />
      <div class="card-img-overlay my-5">
        <h5 class="card-title">A MONSTER OF A LAPTOP</h5>
        <p class="card-text" style="margin-top: 27px; margin-right: 327px">
          Tech Power Up Gives EON17-X Their Editor's Choice Award! “The Origin
          PC EON17-X is a monster of a laptop stuffed full of some of the
          fastest hardware you can get. There's a lot here to like, and like it
          I do.” - TechPowerUp
        </p>
        <button type="button" class="btn btn-outline-dark">SHOP NOW</button>
      </div>
    </div>

    <div class="col-6">
      <h1 class="text-danger testimonial">Testimonials</h1>
      <p class="text-white testimonial1">
        Positive: Professionalism, Quality, Responsiveness, Value My first
        experience with Ant Pc was nothing less than AWESOME! Their employees
        are very professional and helpful specially Nishant. They helped me
        through setting up my first ever gaming PC and even the after sales
        services and technical support is top notch. Best prices and best
        services. A happy customer.
      </p>
    </div>
  </div>

  <div
    class="let_us_know"
    style="transition: transform 2s ease, opacity 0.5s ease-out"
  >
    <div class="py-2">
      <h3>Let Us Know..</h3>
      <br />
      <p>Consult with us, check stock and place the order.</p>
      <br />
      <button class="btn btn-outline-danger ms-116">Contact Us</button>
    </div>
  </div>
</div>
