
<div class="admin-main">
    <div class="container">
        <div class="card">
          <h4 class="card-header">Orders</h4>
          <div class="card-body">
            <h5 class="card-title">List of all orders</h5>
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              </div>
          </div>
        </div>
        <div class="container">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">User</th>
                <th scope="col">Total Price</th>
                <th scope="col">Status</th>
                <th scope="col">Date Created</th>    
              </tr>
            </thead>
            <tbody>
    
              <tr *ngFor="let item of orders" >
                  <td>{{ item.id }}</td>
                  <td>{{ item.totalPrice }}</td>
                  <td>{{ item.status }}</td>
                 <td>{{ item.dateOrdered | date: 'short' }}</td>
                 <td>
                  <button (click)="deleteOrder(item.id)" type="button" class="btn btn-danger"><i class="bi bi-trash3-fill"></i></button>
                  <button (click)="showOrder(item.id)" type="button" class="btn btn-primary"><i class="bi bi-pencil-fill"></i></button></td>
                </tr>
    
            </tbody>
    
          </table>
    
        </div>
    
        </div>
        
        </div>
    