<div class="footer clearfix">
    <div class="footer-top" style="background-color: bisque;">
        <div class="container">
              <div class="row">
                <div class="col align-self-start mt-3">
                  <a routerLink="" class="navbar-brand footer-navbar-brand"
                    ><img
                      src="/assets/images/logo2.png"
                      alt=""
                  /></a>
                </div>
                <div class="col align-self-start mt-2">
                  <ul class="footer-link">
                    <li style="color: red">Choose Now</li>
                    <li>
                      <a href="#">Custom PC</a>
                    </li>
                    <li>
                      <a href="#"
                        >Prebuilt Gaming PC</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="col align-self-start mt-2">
                  <ul class="footer-link">
                    <li style="color: red">Customer Services</li>
                    <li>
                      <a href="#"
                        >Terms &amp; Conditions</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        >Privacy Statement</a
                      >
                    </li>
                    <li>
                      <a href="#"
                        >Refund Policy</a
                      >
                    </li>
                    <li>
                      <a routerLink="/contact-us">Contact us</a>
                    </li>
                    <li><a routerLink="/about-us">About Us</a></li>
                  </ul>
                </div>
                <div class="col align-self-start mt-2">
                  <ul class="footer-link">
                    <li style="color: red">My Account</li>
                    <li>
                      <a href="#"
                        >My Account</a
                      >
                    </li>
                    <li>
                      <a routerLink="/cart">Cart</a>
                    </li>
                  </ul>
                </div>
                <div class="col align-self-start mt-2">
                    <ul class="footer-link">
                      <li style="color: red">
                        <a
                          href="#"
                          style="color: red"
                          >Contact Us</a
                        >
                      </li>
                    </ul>
                    <div class="footer-contact-support full-width">
                      <p class="ml-5 p-0">
                        <a href="mailto:tejb@gmail.com" style="padding-left: 2px;"
                          >tejb@gmail.com</a
                        >
                      </p>
                      <p class="m-0 p-0">
                        <a href="tel:+919038673779">+91 9038673779</a>
                      </p>
                    
                  </div>
                </div>
              </div>
            </div>
        </div>
      
       

      <div class="footer-bottom">
        <div>
        <div
          class="footer-copyright d-flex p-0 flex-wrap align-items-center justify-content-center m-0 bg-danger"
        >
          <p class="m-0 p-0">Copyright © 2022 TEJB</p>
        </div>
        </div>
        </div>
      </div>