.wrapper {
  height: 100%;
  padding: 0;
  margin: 0;
}
.active{
 background: #0a58ca;
 
} 
  .admin-main {
    width: calc(100% - 175px);
    margin-left: 175px;
  }
  .admin-sidebar {
    position: fixed;
    width: 175px;
    background-color: #0a1d31;
    height: 100%;
    top: 0;
    left: 0;
  }
    .logo {
      padding: 20px;
      width:fit-content;
      border-bottom: 1px solid #19487b;
    }
     .logo  img {
        max-width:100%;
      }
      .links ul {
        margin: 0;
        padding: 0;
      }
        .links ul li {
          display: block;
          list-style: none;
          width: 100%;
        }
        .links ul li a {
            color: #fff;
            padding: 10px 15px;
            display: block;
            width: 100%;
            text-decoration: none;
        }
        .links li:hover {
              background-color: #19487b;
              width: fit-content;
            }
            

